body {
	background:url(images/bg.jpg)
	center center fixed;
	background-size: cover;
	color:#fff;

}

/*tittle*/
#header{
	text-align:center;
	font-size:9vw;
}

/*lap*/
#timeLap {
	text-align: right;
	font-size:4vw;
	margin:0 40px;
}

/*time*/
#time {
	text-align:center;
	font-size:8vw;
	margin:20 0;
}

/*controls*/
#controlsContainer {
	margin-bottom:100px;
}

.control {
	color:#fff;
	background-color:#d7A04e;
	width:11vw;
	height:11vw;
	border-radius:100px;
	text-align:center;
	padding:29% 0;
	font-size:2.4vw;
	cursor:pointer;
}

.control:active {
	background-color:#fff;
	color:#d7A04e;
}


#laps {
	overflow-y:scroll;
	max-height:270px;
}

.lap {
	border-bottom:solid 1px #fff;
}

.lapTimeTittle {
	padding:0 10px;
	margin:0 0;
	color:#2b2828;
}

.lapTime{
	padding:0 10px;
	margin:0 89vw;
	color:#2b2828;	
}

@media (max-width : 402px){
	.lapTimeTittle {
	padding:0 10px;
	margin:0 0;
	color:#2b2828;
}

.lapTime{
	padding:0 2px;
	margin:0 67vw;
	color:#2b2828;	
}
}

@media (min-width : 403px) and (max-width : 700px){
	.lapTimeTittle {
	padding:0 10px;
	margin:0 0;
	color:#2b2828;
}

.lapTime{
	padding:0 2px;
	margin:0 78vw;
	color:#2b2828;	
}
}

@media (min-width : 704px) and (max-width : 1000px){
	.lapTimeTittle {
	padding:0 10px;
	margin:0 0;
	color:#2b2828;
}

.lapTime{
	padding:0 2px;
	margin:0 87vw;
	color:#2b2828;	
}
}